@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-monomaniac-one: "Monomaniac One", "sans-serif";
  --font-andale-mono: "Andale Mono", "monospace";
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-off-black: #2d2828;
  --color-off-white: #f4f0f0;
  --color-primary-light: #9bcfcc;
  --color-primary: #75b9be;
  --color-primary-dark: #4293a5;
  --color-secondary-light: #b896b0;
  --color-secondary: #987284;
  --color-secondary-dark: #804d59;
  --color-accent-light: #e7e6ca;
  --color-accent: #d0d6b5;
  --color-accent-dark: #a5b681;
  --color-highlight1: #f9b5ac;
  --color-highlight2: #ee7674;

  --animate-fade-in-out: fade-in-out 2s infinite;
  --animate-fade-in: fade-in 2s forwards;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --default-foreground-rgb: var(--color-off-white);
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --default-text-color: var(--color-off-black);
    scrollbar-width: thin;
    --color-highlight: var(--color-primary-dark);
  }

  [color-scheme="dark"] {
    :root {
      --default-foreground-rgb: var(--color-off-black);
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
      --default-text-color: var(--color-off-white);
      scrollbar-width: thin;
      --color-highlight: var(--color-primary-light);
    }
  }
  @font-face {
    font-family: "andale mono";
    src: url("/fonts/andalemono.tff");
  }
  .andale-mono {
    font-family: var(--font-andale-mono);
    font-weight: "regular";
  }
  @font-face {
    font-family: "monomaniac one";
    src: url("/fonts/MonomaniacOne-Regular.ttf");
  }

  .monomaniac-one-regular {
    font-family: var(--font-monomaniac-one);
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-size: var(--text-8xl);
    font-family: var(--font-monomaniac-one);
  }
  h2 {
    font-size: var(--text-6xl);
    font-family: var(--font-andale-mono);
  }
  h3 {
    font-size: var(--text-4xl);
    font-family: var(--font-andale-mono);
  }
  h4 {
    font-size: var(--text-3xl);
    font-family: var(--font-andale-mono);
  }
  h5 {
    font-size: var(--text-2xl);
    font-family: var(--font-andale-mono);
  }

  @media screen and (max-width: 640px) {
    h1 {
      font-size: var(--text-4xl);
    }
    h2 {
      font-size: var(--text-3xl);
    }
    h3 {
      font-size: var(--text-2xl);
    }
    h4 {
      font-size: var(--text-xl);
    }
    h5 {
      font-size: var(--text-lg);
    }
    p {
      font-size: "0.5rem";
      font-family: var(--font-andale-mono);
    }
  }

  header {
    color: rgb(var(--default-text-color));
    background-color: rgb(var(--default-foreground-rgb));
  }
  body {
    color: rgb(var(--default-text-color));
    background-color: rgb(var(--default-foreground-rgb));
  }
  p {
    font-size: var(--text-base);
    font-family: var(--font-andale-mono);
  }
  span {
    font-size: var(--text-base);
    font-family: var(--font-andale-mono);
  }
  strong {
    font-weight: 900;
    color: var(--color-highlight);
  }
  
  body[data-scroll-locked] {
    margin-right: 0 !important;
  }
  .expand {
    transition: transform 0.5s;
  }
  .expand:hover {
    transform: scale(1.1);
  }
  html,
  body {
    overflow: hidden;
  }
  main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: calc(var(--spacing) * 15); */
    scroll-behavior: smooth;
  }
}

@layer components {
  .page {
    position: relative;
    scroll-snap-align: start;
    margin-left: calc(var(--spacing) * 10);
    margin-right: calc(var(--spacing) * 10);
    padding-top: calc(var(--spacing) * 15);
    padding-bottom: calc(var(--spacing) * 15);
    height: 100vh;
  }

  @media screen and (max-width: 640px) {
    .page {
      position: relative;
      scroll-snap-align: start;
      margin-left: calc(var(--spacing) * 2);
      margin-right: calc(var(--spacing) * 2);
      height: 100%;
      min-height: 100vh;
    }
  }
}
